<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.recall.mybatis.dao.StudentMapper">
	<select id="getByAge" parameterType="Integer" resultType="Student">
		<!--动态sql if -->
		SELECT * FROM tbl_student where 1 = 1
		<if test="age > 0">
			and age = #{age}
		</if>
	</select>
	
	<select id="getStudent_Where" parameterType="map" resultType="Student">
		<!--
			 动态SQL where 
			不需要手动写where了
		 -->
		 SELECT * FROM tbl_student 
		 	<where>
		 		<!-- 
		 			自动删去and
		 		 -->
		 		<if test="age > 0">
		 			and age = #{age}
		 		</if>
		 		
		 		<if test="name != null and name != ''">
		 			and name = #{name}
		 		</if>
		 	</where>
	</select>
	
	<select id="getStudent_choosewhenotherwise" parameterType="map" resultType="Student">
		<!-- 
			动态SQL choose/when/otherwise
			类似于when 
		 -->
		 SELECT * FROM tbl_student
		 <choose>
		 	<when test="age > 0">
		 		where age = #{age}
		 	</when>
		 	<when test="name != null and name != ''">
		 		where name = #{name}
		 	</when>
		 	<otherwise>
		 		where 1 = 1
		 	</otherwise>
		 </choose>
	</select>
	
	<select id="getStudent_Foreach" parameterType="map" resultType="Student">
		SELECT * FROM tbl_student 
		<where>
			<choose>
				<when test="ages != null">
					age in
					<!-- 
						(22,23,24)
					 -->
					<foreach collection="ages" item="age" open="(" close=")" separator=",">
						#{age}
					</foreach>
				</when>
				<when test="names != null">
					name in
					<foreach collection="names" index="name" open="(" close=")" separator=",">
						#{name}
					</foreach>
				</when>
			</choose>
		</where> 
	</select>
	
	<select id="getStudentByTrim" parameterType="map" resultType="Student">
		SELECT * FROM tbl_student
		
		<!-- 
			以where开始
			如果内容开始为and或者or将会被覆盖
		 -->
		 
		<trim prefix="where" prefixOverrides="and|or">
			<if test="age > 0">
				and age = #{age}
			</if>
		</trim>
		
	</select>
	
	<select id="insertByTrim" parameterType="Student">
	
		INSERT INTO tbl_student
		<!-- 
			以(开始，)结尾
			如果内容结尾为,则覆盖
		 -->
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null and name != ''">
				name,
			</if>
			<if test="age > 0">
				age,
			</if>
			<if test="score != null">
				score,
			</if>
			<if test="birth != null">
				birth,
			</if>
		</trim>
			
		<trim prefix=" values(" suffix=")" suffixOverrides=",">
			<if test="name != null and name != ''">
				#{name},
			</if>
			<if test="age > 0">
				#{age},
			</if>
			<if test="score != null">
				#{score},
			</if>
			<if test="birth != null">
				#{birth},
			</if>
		</trim>
	</select>
	
	<select id="updateBySet" parameterType="Student">
		UPDATE tbl_student
		<set>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="age > 0">
				age = #{age},
			</if>
			<if test="score != null">
				score = #{score},
			</if>
			<if test="birth != null">
				birth = #{birth},
			</if>
		</set>
		where id = #{id}
	</select>
</mapper>